@charset "utf-8";
/*!
  Theme: Cateiru
  Author: cateiru
  Responsive: yes
*/

// @import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


@import "./lib/_variable";
@import "./lib/_core";
@import "./lib/_ad";
@import "./lib/_comment";
@import "./lib/_pager";
@import "./lib/_not_found";

@import "./lib/_entry";
@import "./lib/entry/_blockquote";
@import "./lib/entry/_iframe";
@import "./lib/entry/_heading";
@import "./lib/entry/_table";
@import "./lib/entry/_image";
@import "./lib/entry/_code";
@import "./lib/entry/_social_buttons";
@import "./lib//entry//table_of_contents";
